{% extends 'base.html'%}

{% block content %}
<h1 class="profile_header">Hey, {{user.first_name}} </h1>

<h1 class="profile_header">Add a destination!</h1>

<form class="create_destination_form" action="/users/{{user.id}}" method="post">

  <label for="countries">Select a country:</label>
  <select name="countries" id="countries">
    <option class="input_field_2">Select</option>
    {% for country in countries %}
    <option class="input_field_2" value="{{country.id}}">{{country.country_name}}</option>
    {% endfor %}
  </select>

  <label for="cities">Select a city:</label>
  <select name="cities" id="cities">
    <option class="input_field_2">Select</option>
    {% for city in cities %}
    <option class="input_field_2" value="{{city.id}}">{{city.city_name}}</option>
    {% endfor %}
  </select>

  <label for="visited">Have you visited?</label>
  <select name="visited" id="visited">
    <option class="input_field_2">Select</option>
    <option class="input_field_2" value="True">Yes</option>
    <option class="input_field_2" value="False">No</option>


  <input class="add_destination_btn" type='submit' value="Add">
</form>

<div>

  {% for destination in destinations %}
    {% if user.first_name == destination.user.first_name %}
    <ul>
      <li>{{destination.user.first_name}}</li>
      <li>{{destination.country.country_name}}</li>
      <li>{{destination.city.city_name}}</li>
      <li>{{destination.visited}}</li>
    </ul>
    {% endif %}
  {% endfor %}

</div>


{% endblock %}