@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
/* #E27D60 */

:root {
    --primary-color: #E27D60;
    --secondary-color: rgba(65, 179, 163, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.logo {
    inline-size: 25%;
}

/* NAVBAR STYLING */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar .flex {
    justify-content: space-between;
}

.ctnb {
    padding: 9px 25px;
    background-color: rgba(65, 179, 163, 1);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

/* SHOWCASE */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'] {
    border: 0;
    border-bottom: 1px solid #8e8e8e;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 130px;
    bottom: -60px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
}


/* STATS */

.icons {
    padding-top: 100px;
}

.icons .grid h3 {
    font-size: 30px;
}

.icons .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* UTILITIES */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff;
}

.btn:hover {
    transform: scale(0.98);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* MARGIN SIZING my = top & bottom, m = all around */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* PADDING SIZING py = top & bottom, p = all around */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/* LANGUAGE CARDS */

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-8px);
}

/* USER CARDS */

.user .flex {
    flex-direction: row;
}

.user .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    color: #41B3A3;
    size: 235px 390px;
}

.user .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.user .card:hover {
    transform: translateY(-5px);
}

.profile-pic {
    border-radius: 50%;
}

/* DESTINATION CARDS */

.row-dest {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-dest-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card.dest {
    background-color: #ffaf84;
    text-align: center;
    width: 150px;
}

.card.dest2 {
    background-color: #ffaf84;
    text-align: center;
    width: 150px;
}

.ctnbn {
    padding: 9px 25px;
    background-color: rgba(65, 179, 163, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
}

/* COUNTRY / CITY PAGE STYLING */

.heading {
    text-align: center;
    padding: 0px 250px;
}

.grid-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    size: 100%;
    padding: 10px 200px;
}

.grid-pics-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    size: 100%;
    padding: 10px 200px;
}
.christ {
    max-width: 100%;
    height: auto;
}

/* FOOTER */

.bg-dark {
    background-color: #41B3A3;
    color: #fff;
}

.bg-dark a {
    color: #fff;
}

.footer .social a {
    margin: 0 10px;
    align-content: center;
}

.social {
    position: relative;
    left: 55px;
}

.footer-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* TABLETS */
@media(max-width: 768px){
    .grid,
    .showcase .grid
    .icons .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 30px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
    }
}

/* MOBILE */
@media(max-width: 500px){
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
    }
}