{% extends 'base.html'%}

{% block content%}
<div class="heading">
    <h1>WELCOME TO RIO DE JANEIRO 🇧🇷</h1>
</div>
    
<div>
    <p class="heading">The citizens of the fourteen-million-strong city of Rio de Janeiro call it the Cidade Marvilhosa – and there can’t be much argument about that. Although riven by inequality, Rio has great style.</p><br>
    <p class="heading">Its international renown is bolstered by a series of symbols that rank as some of the greatest landmarks in the world: the Corcovado mountain supporting the great statue of Christ the Redeemer; the rounded incline of the Sugar Loaf mountain, standing at the entrance to the bay; and the famous sweeps of Copacabana and Ipanema beaches, probably the most notable lengths of sand on the planet.</p>
</div>

<br>

<div class="grid-pics-2">
    <img class="christ" src="/static/images/joao-pedro-vergara-mXpuTdf56FM-unsplash.jpg" alt="">
    <img class="christ" src="/static/images/bruno-cantanhede-w_dYsuatFu4-unsplash.jpg" alt="">
</div>

<br>

<div>
    <p class="heading">
        It’s a setting enhanced annually by the frenetic sensuality of Carnaval, an explosive celebration that – for many people – sums up Rio and its citizens, the cariocas. The major downside in a city given over to conspicuous consumption is the rapacious development that has engulfed Rio.
    </p><br>
        <p class="heading">As the rural poor, escaping drought and poverty in other regions of Brazil, swell Rio’s population, the city has been squeezed like a toothpaste tube between mountains and sea, pushing its human contents ever further out along the coast. Over the decades, much of the city’s rich architectural heritage has been whittled away, along with the destruction of much of its natural environment.
    </p>
</div>

{% endblock %}