{% extends 'base.html'%}

{% block content%}
<h1>WELCOME TO HAVANA</h1>

<p>Havana is an enchanting and captivating city, with the twists and turns of its compelling history and rich culture laid bare in the surprising diversity of its architecture and kaleidoscope of citizens. Nowhere is there uniformity, with the hotchpotch of buildings and people presenting a different set of stop-and-stare images on every street. Policemen on military service lean against Soviet-era Brutalist office blocks; adherents of Santería, dressed all in white, stroll past Neo-Gothic churches; queues of smart, elderly socialites form outside Art Deco theatres; and taxi drivers in baseball caps tout rides in their fifty-year-old Buicks and Chevrolets in front of Neoclassical shop fronts. In the centre especially, almost every street seems to have an intriguing story to tell, whether one of colonial grandeur, bygone glamour, economic hardship or revolutionary change – and sometimes all of these, wrapped up in just one block.
</p>

{% endblock %}