{% extends 'base.html'%}

{% block content%}
<h1>WELCOME TO CUBA</h1>

<p class="yeet">Cuba is an island that regularly lurches forward, then crunches into reverse. And it is also a place renowned for its stagnation over the last six decades, since the 1959 Revolution stopped the clocks and turned everything upside down. When you travel to Cuba you’ll be struck by vintage radios, refrigerators and lamps, and swinging neon signs hanging over storefronts. There are antique pharmacies and traditional barbers, and iconic classic American cars everywhere. But this is no retro trend, it’s make-do-and-mend, frozen-in-carbonite Cuba.</p>

<p class="yeet">However, the pace of modernization on the island is increasing exponentially. New swish hotels are springing up and first-class, family-run boutique hotels are flourishing. And house-based restaurants – paladars – are slowly putting Cuban cuisine on the culinary map.</p>

<p class="yeet">There have been other transformations. In recent years this communist stronghold has lost its titanic patriarch, Fidel Castro and celebrated the first US presidential visit in 80 years. It has sworn in a new president of its own, Miguel Diaz-Canel, the first person outside the Castro family to lead the country since 1959.</p> 

<p class="yeet">But the uniqueness of Cuba is unwavering. Roadside billboards still proclaim “Socialism or death”, world-class ballerinas and baseball players earn the same meagre state salary as the ordinary workers. On your Cuba travels you can meet Cuban artists in their own front-room galleries and learn how to dance salsa in home-based studios. You can take a city tour in a 1956 Chevrolet and learn how to kite surf, rock climb, play the conga and ride a horse. And the island's breathtaking beaches, unspoiled seas and forest-covered mountains haven’t gone anywhere.</p> 

{% endblock %}