{% extends 'base.html'%}

{% block content%}
<h1>WELCOME TO BRAZIL</h1>

<p class="yeet">Brazilians often say they live in a continent rather than a country. It’s an excusable exaggeration. The landmass is bigger than the United States if you exclude Alaska; the journey from Recife in the east to the western border with Peru is longer than that from London to Moscow, and the distance between the northern and southern borders is about the same as that between New York and Los Angeles. Brazil has no mountains to compare with its Andean neighbours, but in every other respect it has all the scenic – and cultural – variety you would expect from so vast a country.</p>

{% endblock %}