{% extends 'base.html'%}

{% block content %}
<section class="heading">
    <h1 class="md text-center my-2">My First Project</h1>

    <p>This is the first full-stack application I have ever created!</p>
    <p>The technologies used are listed below:<br> Python, Flask, postgreSQL, HTML & CSS.</p>
    <p>After programming for only one month I'm pretty happy with the end result.</p>
    <p>Ideas I have to further expand the project would include, adding notes to visited destinations,
        adding an image upload for profile pictures and possibly storing a photo album which is geo-tagged
        on an interactive map.
   </p>
</section>

<section class="languages">
    <h2 class="md text-center my-2">
        Tools Used
    </h2>
    <div class="container flex">
        <div class="card python">
            <img src="/static/images/iconfinder_267_Python_4518857.png" alt="">
        </div>
        <div class="card">
            <img src="/static/images/608070591536298181-512.png" alt="">
        </div>
        <div class="card">
            <img src="/static/images/16876668881551942134-512.png" alt="">
        </div>
        <div class="card">
            <img src="/static/images/html5.png" alt="">
        </div>
        <div class="card">
            <img src="/static/images/css.png" alt="">
        </div>
    </div>
</section>

{% endblock %}