<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
  <title>Worldly</title>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar">
    <div class="container flex">
      <img class="logo" src="/static/images/logo (1).png" alt="">
      <nav>
        <ul>
          <li><a class="hova" href="/">Home</a></li>
          <li><a class="hova" href="http://localhost:5000/users">Users</a></li>
          <li><a href="http://localhost:5000/about"><button class="ctnb">About</button></a></li>
        </ul>
      </nav>
    </div>
  </div>
  {% block content %}
  <!-- FOOTER -->
  {% endblock%}
  <footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
      <div>
      </div>

      <div class="social">
        <a href="https://github.com/GiulianoDerosas"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.facebook.com/GiulianoDerosas/"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://www.instagram.com/_giuliano/"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://twitter.com/GiulianoDerosas"><i class="fab fa-twitter fa-2x"></i></a>
      </div>

      <div> 
      </div>
    </div>
  </footer>
</body>
</html>