{% extends 'base.html'%}

{% block content %}
<!-- <h1>Create your dream travel bucket-list with Worldly!</h1>
<div>
<form action="/users" method="post">
    <label class="label_su"for="first_name">First Name:</label>
    <input class="input_field" type="text" id="first_name" name="first_name" placeholder="Ernest" required autofocus>
    <label class="label_su"for="last_name">Last Name:</label>
    <input class="input_field" type="text" id="last_name" name="last_name" placeholder="Hemingway" required>
    <label class="label_sufd"for="favorite_destination">Favorite Destination:</label>
    <input class="input_field" type="text" id="favorite_destination" name="favorite_destination" placeholder="Cuba" required>
    <input class="add_user_btn" type='submit' value="Add User">
</form>
</div> -->


  <!-- SHOWCASE -->
  <section class="showcase">
    <div class="container grid">
      <div class="showcase-text">
        <h1>Create your dream travel bucket-list with Worldly!</h1>
        <p>Fill in the form to get started!</p>
        <a href="about.html" class="btn btn-outline">See current users.</a>
      </div>

      <div class="showcase-form card">
        <h2>Create your Worldly profile!</h2>
        <form action="/users" method="post">
            <div class="form-control">
                <input type="text" name="first_name" id="first_name" placeholder="First Name" required>
            </div>
            <div class="form-control">
                <input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
            </div>
            <div class="form-control">
                <input type="text" name="favorite_destination" id="favorite_destination" placeholder="Your Favorite Destination" required>
            </div>
            <input type="submit" value="Start" class="btn btn-primary">
        </form>
      </div>
    </div>
  </section>


  <!-- STATS -->
  <section class="stats">
    <div class="container">
      <h3 class="stats-heading text-center my-1">
        Here is some text, bucketlist bucketlist bucketlist
      </h3>

      <div class="grid grid-3 text-center my-4">
        <div>
          <i class="fas fa-globe fa-3x"></i>
          <h3>999,999,999</h3>
          <p class="text-secondary">Countries to Visit</p>
        </div>
        <div>
          <i class="fas fa-globe fa-3x"></i>
          <h3>999,999,999</h3>
          <p class="text-secondary">Cities to Explore</p>
        </div>
        <div>
          <i class="fas fa-globe fa-3x"></i>
          <h3>999,999,999</h3>
          <p class="text-secondary">Things To Do</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}