{% extends 'base.html'%}

{% block content %}
<h1>Worldly</h1>

<p>Create your dream travel bucket-list!</p>

<form action="/users" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" placeholder="First Name" required autofocus>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
    <label for="favorite_destination">Favorite Destination:</label>
    <input type="text" id="favorite_destination" name="favorite_destination" placeholder="Favorite Destination" required>
    <input class="btn btn--action" type='submit' value="Add User">
</form>
{% endblock %}