{% extends 'base.html'%}

{% block content %}
<h1 class="fade_title">Create your dream travel bucket-list with Worldly!</h1>
<div class="create_user_form">
<form action="/users" method="post">
    <label class="label_su"for="first_name">First Name:</label>
    <input class="input_field" type="text" id="first_name" name="first_name" placeholder="Ernest" required autofocus>
    <label class="label_su"for="last_name">Last Name:</label>
    <input class="input_field" type="text" id="last_name" name="last_name" placeholder="Hemingway" required>
    <label class="label_sufd"for="favorite_destination">Favorite Destination:</label>
    <input class="input_field" type="text" id="favorite_destination" name="favorite_destination" placeholder="Cuba" required>
    <input class="add_user_btn" type='submit' value="Add User">
</form>
</div>

<div>
    <img class="center_image" src="/static/images/v01-shape-011.png" alt="">
</div>


<div>
    <h1><pre class="blockq">"YOU HAVE NOTHING
    TO LOSE, AND A 
    WORLD TO SEE"</pre></h1>
</div>


<h2 class="fade_title_2">Get started by filling the fields below..</h2>

{% endblock %}