{% extends 'base.html'%}

{% block content %}
<!-- Welcome -->
<h2 class="md text-center my-2">Hey, {{user.first_name}}</h2>
<!-- <h3 class="md text-center my-2">Your Worldly Score is  worldly_score() </h1> -->
<h3 class="md text-center my-2">Add a destination!</h1>

  <!-- Add Destination Form -->
<div class="container flex">
  <section>
    <form action="/users/{{user.id}}" method="post">
      <label for="countries">Select a country:</label>
      <select name="countries" id="countries">
        <option>Select</option>
        {% for country in countries %}
        <option value="{{country.id}}">{{country.country_name}}</option>
        {% endfor %}
      </select>

      <label for="cities">Select a city:</label>
      <select name="cities" id="cities">
        <option>Select</option>
        {% for city in cities %}
        <option value="{{city.id}}">{{city.city_name}}</option>
        {% endfor %}
      </select>

      <label for="visited">Have you visited?</label>
      <select name="visited" id="visited">
        <option>Select</option>
        <option value="True">Yes</option>
        <option value="False">No</option>

      <input class="ctnb" type='submit' value="Add">
    </form>
  </section>
</div>

<!-- Sorts by visited and not visited -->
<h2 class="md text-center my-2">Visited</h2>

{% for destination in destinations %}
{% if user.first_name == destination.user.first_name and destination.visited == True %}
<div class="dest">
  <div class="row">
    <div class="card">
      <ul>
        <li><a href="/destinations/country/{{destination.country.id}}">{{destination.country.country_name}}</a></li>
        <li><a href="/destinations/city/{{destination.city.id}}">{{destination.city.city_name}}</a></li>
      </ul>

      <p>
      <form action="/destinations/{{destination.id}}/delete" method="POST">
        <input class="ctnbn" type="submit" value="delete" />
      </form>
      </p>

      <p>
      <form action="/destinations/{{destination.id}}/update" method="GET">
        <input class="ctnbn" type="submit" value="update" />
      </form>
      </p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<br>

<h2 class="text-center my-2">Not Visited</h2>

{% for destination in destinations %}
{% if user.first_name == destination.user.first_name and destination.visited == False %}
<div class="dest">
  <div class="row">
    <div class="card">
      <ul>
        <li><a href="/destinations/country/{{destination.country.id}}">{{destination.country.country_name}}</a></li>
        <li><a href="/destinations/city/{{destination.city.id}}">{{destination.city.city_name}}</a></li>
      </ul>

      <p>
      <form action="/destinations/{{destination.id}}/delete" method="POST">
        <input class="ctnbn" type="submit" value="delete" />
      </form>
      </p>

      <p>
      <form action="/destinations/{{destination.id}}/update" method="GET">
        <input class="ctnbn" type="submit" value="update" />
      </form>
      </p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}